.app {
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  padding: 20px;
  top: 50%;

}

.inputBox {
  width: 300px;
  height: 50px;
  align-self: center;
  padding: 0 10px;
  font-size: 15px;
}

.titleText {
  font-size: 28px;
  align-self: center;
  color: white;

}
